---
import IconButton from './IconButton.astro';

interface Props {
  img: string;
}

const { img } = Astro.props;


const texts= {
  title: "Rentoy",
  subtitle: "Un rincón para disfrutar del mejor café y comida casera en Puebla.",
  copy1: "Ubicado en el corazón del Centro Histórico de Puebla, Rentoy Café Restaurante es mucho más que un lugar para tomar café: es un refugio cultural y gastronómico que invita a detener el tiempo.",
  copy2: "Justo al lado del majestuoso Teatro Principal y enmarcado por el encanto bohemio del Barrio del Artista, Rentoy se convierte en una parada obligada para locales y visitantes que buscan una experiencia única.",
}
---

<section class="hero" style={{ backgroundImage: `url(${img})` }} aria-hidden="true">

  <div class="main-container">

    <div class="titles-container glass-title w-[90%]">
      <h1 class="title">{texts.title}</h1>
      <h2 class="subtitle">{texts.subtitle}</h2>
    </div>
  
    <div class="content-container flex flex-column md:flex-row md:justify-between md:mt-4 md:w-[90%] md:gap-4 w-[90%] mb-2">

      <article class="glass md:w-[55%]">
        <p class="copy">
          {texts.copy1}
        </p>
        <br>
        <p class="copy">
          {texts.copy2}
        </p>
      </article>

      <div class="container hidden md:w-[40%] md:block"></div>
    </div>

    <IconButton href='#carrusel' aria='Next section' name='next' text='Descubrir más'/>

  </div>

</section>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  @import "tailwindcss";  
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(58, 58, 58, .3);;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
    max-width: 95vw;
    max-height: 100vh;
    padding: 1rem;
  }

  .titles-container {
    max-width: 100%;
    @apply rounded-xl;
  }

  .title {
    font-family: 'Montserrat', serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-shadow: 5px 2px 10px rgb(0, 0, 0);
    color: #f4f1f1;
    @apply mb-1 text-3xl md:text-7xl;
  }

  .subtitle {
    font-family: 'Montserrat', serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    text-shadow: 5px 2px 10px rgb(0, 0, 0);
    color: #eae7b6;
    @apply m-2 mb-2 text-xl md:text-3xl md:mb-8;
  }

  .copy {
    @apply text-slate-900 text-justify text-pretty  lg:text-2xl;
  }

  .glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
  }

  .glass-title {
    /* From https://css.glass */
    background: rgba(223, 157, 24, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(223, 157, 24, 0.3);
    padding: 0 2rem;
    margin: 1rem 0 1rem 0;
    @apply px-2 md:px-8;
  }

</style>